body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  width: 80%; /* Réduit la largeur de la container */
  max-width: 1400px;
  background: white;
  padding: 30px;
  margin: 20px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}

form .form-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

form .form-group label {
  width: 20%;
  font-size: 14px;
  font-weight: bold;
}

form .form-group input,
form .form-group select {
  width: 75%; /* Largeur ajustée */
  padding: 12px;
  border: 1px solid #bbb;
  border-radius: 6px;
  font-size: 14px;
}

form button {
  width: 100%;
  padding: 12px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  transition: background-color 0.3s ease-in-out;
}

form button:hover {
  background-color: #218838;
}

.table-container {
  overflow-x: auto;
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: white;
  font-size: 14px;
}

table,
th,
td {
  border: 1px solid #ddd;
}

th,
td {
  padding: 14px;
  text-align: left;
}

th {
  background-color: #007bff;
  color: white;
}

tr:nth-child(even) {
  background-color: #f8f9fa;
}

tr:hover {
  background-color: #e9ecef;
}

h1 {
  font-weight: bold;
  margin-bottom: 20px;
}

/* Style du sélecteur et de la barre de recherche */
input[type="text"] {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%; /* Prend toute la largeur du conteneur */
  max-width: 300px; /* Limite la largeur pour éviter qu'il soit trop large */
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}

/* Sélecteur centré et petit */
select {
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  max-width: 300px; /* Limite la largeur pour le sélecteur */
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 14px;
}
